<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>あなたの資産を世界通貨シェア別に表示します。</h1>
    <h1>資産を入力して下さい。</h1>

    <form action="/measurement" method="post" >
    <input type="number" name="number" placeholder="quantity">
     <select name="currency1">
        <option value="JPY">円</option>
        <option value="USD">ドル</option>
        <option value="EUR">ユーロ</option>
     </select>
 
     <br><br>
      <input type="submit" value="measurement">
    </form>
    
</body>
</html>