<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>世界分散通貨(wc) 世界通貨シェアで表示したい資産を入力して下さい。</h1>

    <form action="/measurement" method="post" >
    <input type="number" name="number" placeholder="おいくらですか？">
     <select name="currency1">
        <option value="円">円</option>
        <option value="ドル">ドル</option>
        <option value="ユーロ">ユーロ</option>
     </select>
 
     <br><br>
      <input type="submit" value="計算">
    </form>
    
</body>
</html>