<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>あなたの資産の価値を測定します。</h1>
    <h1>資産を下記に入力して下さい。</h1>

    <form action="/measurement" method="post" >
    <input type="number" name="number" placeholder="quantity">
     <select name="currency1">
        <option value="JPY">円</option>
        <option value="USD">ドル</option>
        <option value="EUR">ユーロ</option>
        <option value="GBP">ポンド</option>
        <option value="CNY">人民元</option>
        <option value="AUD">オーストラリアドル</option>
     </select>
     <br>
     <input type="number" name="number" placeholder="quantity">
     <select name="currency2">
        <option value="JPY">円</option>
        <option value="USD">ドル</option>
        <option value="EUR">ユーロ</option>
        <option value="GBP">ポンド</option>
        <option value="CNY">人民元</option>
        <option value="AUD">オーストラリアドル</option>
     </select>
     <br>
     <input type="number" name="number" placeholder="quantity">
     <select name="currency3">
        <option value="JPY">円</option>
        <option value="USD">ドル</option>
        <option value="EUR">ユーロ</option>
        <option value="GBP">ポンド</option>
        <option value="CNY">人民元</option>
        <option value="AUD">オーストラリアドル</option>
     </select>
     <br><br>
      <input type="submit" value="measurement">
    </form>
    
</body>
</html>