<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
        あなたの資産{{ "{:,}".format(i_jpy) }}{{ currency }}を世界分散通貨(wc)で表示すると{{ "{:,}".format(fx_currency[10]) }}wcです。<br>
     1wcの内訳(
              0.04ドル 
              0.01ユーロ 
              0.85円 
              0.003ポンド 
              0.02中国元 
              0.003オーストラリアドル 
              0.003カナダドル 
              0.002スイスフラン 
              0.008香港ドル
              )<br><br>
              
    あなたの資産{{ "{:,}".format(i_jpy) }}{{ currency }}を世界為替市場のシェア別に分類しました。<br>
    これを参考に外貨を保有すると資産の堅牢性が向上します。

    <img src="static/images/image.png"><br>
        <br>参照:「Triennial Central Bank Survey of Foreign Exchange and Over-the-counter (OTC) Derivatives Markets in 2022」
    <a href="https://www.bis.org/statistics/rpfx22.htm" target="_blank">BIS-HP</a>
    <br>
    {{ "{:,}".format(fx_currency[0]) }} ドル<br>
    {{ "{:,}".format(fx_currency[1]) }} ユーロ<br>
    {{ "{:,}".format(fx_currency[2]) }} 円<br>
    {{ "{:,}".format(fx_currency[3]) }} ポンド<br>
    {{ "{:,}".format(fx_currency[4]) }} 中国元<br>
    {{ "{:,}".format(fx_currency[5]) }} オーストラリアドル<br>
    {{ "{:,}".format(fx_currency[6]) }} カナダドル<br>
    {{ "{:,}".format(fx_currency[7]) }} スイスフラン<br>
    {{ "{:,}".format(fx_currency[8]) }} 香港ドル<br>
    {{ "{:,}".format(fx_currency[9]) }} その他<br>
    <br>
    計算為替レート<br>
    {{ l_currency[0] }}ドル円 {{ l_currency[1]}}ユーロ円 {{ l_currency[2] }}ポンド円 {{ l_currency[3] }} 中国元円 {{ l_currency[4] }}
    オーストラリアドル {{ l_currency[5] }}カナダドル {{ l_currency[6] }}スイスフラン {{ l_currency[7] }}香港ドル <br>
    参照：みずほ銀行 外国為替公示相場ヒストリカルデータ<a href="https://www.mizuhobank.co.jp/market/historical.html" target="_blank">みずほ銀行HP</a>
    <br>
    <a href="/">戻る</a>
</body>
</html>